## **Hello World**

Basic `Python` for Data Analyst (Beginner)

```python
## code
```

- variable
- data type
- data structure
- control flow
- function

In [ ]:
# basic calculation
print(1+1)
print(2-5)
print(3*2)

2
-3
6

In [ ]:
(2+5)*(3*5)

105

In [ ]:
## floor division
5//2

2

In [ ]:
## modular or mod
print(5 % 5)
print(9 % 4)

0
1

In [ ]:
pow(2,5)

32

In [ ]:
2**5

32

In [ ]:
## variable
x = 100
y = 200
print(x+y)

300

In [ ]:
my_university_name = "Kasetsart"

In [ ]:
print(my_university_name)

Kasetsart

In [ ]:
del my_university_name

In [ ]:
## replace value
x = 100
x = 150
print(x)

150

In [ ]:
x,y,z = 1,"arm",3
print(x,y,z)

1 arm 3

In [ ]:
# R for small data, prototyping.
# Python for larger data, software. data science, ai, app.

# R is statistical language vs. Python is a general language

In [ ]:
# R is specialist (stats)
# Python is generalist (app, data, software, ai)

In [ ]:
# variable
my_name = "arm"
age = 35
friends = ["sit", "ben", "rut"] # list
fav_food = ("hotdog","coke","french fries") # tuple

In [ ]:
friends[0]

'sit'

In [ ]:
friends[0] = "phusit"

In [ ]:
friends

['phusit', 'ben', 'rut']

In [ ]:
## data types
## int, float, str, bool
age = 35
type(age)

int

In [ ]:
gpa = 3.41
type(gpa)

float

In [ ]:
name = "arm"
type(name)

str

In [ ]:
result = age < 40
print(result, type(result))

True <class 'bool'>

In [ ]:
# both is the same
True, False, True # it's tuple
my_bool = (True, False, True)
print(type(my_bool))
my_bool = [True, False, True]
print(type(my_bool))

<class 'tuple'>
<class 'list'>

In [ ]:
## convert type
str(36)

'36'

In [ ]:
int("36")

36

In [ ]:
float("36")

36.0

In [ ]:
## True = 1, False = 0

True

In [ ]:
bool(1)

True

In [ ]:
bool(0)

False

## **Working with String**

In [ ]:
## fstring => format string
name = "arm"
gpa = 2.73

text = f"{name} graduates from KU with gpa {gpa}"
print(text)

arm graduates from KU with gpa 2.73

In [ ]:
## long string
long_str = """


I love Mcdonald's
Planning to have it for Lunch
Very Cool!
"""

In [ ]:
long_str

"\n\n\nI love Mcdonald's\nPlanning to have it for Lunch\nVery Cool!\n"

In [ ]:
## funtion vs. method
text = "a duck walks into a bar"
len(text)
print(text)

a duck walks into a bar

In [ ]:
## method is a funtion created specifically to an object
## string method
text.upper()

'A DUCK WALKS INTO A BAR'

In [ ]:
text.replace("duck", "lion")

'a lion walks into a bar'

In [ ]:
text.count("a")

4

In [ ]:
text.split(" ")

['a', 'duck', 'walks', 'into', 'a', 'bar']

In [ ]:
## replace new value
text = text.replace("duck", "lion")
text.split(" ")

['a', 'lion', 'walks', 'into', 'a', 'bar']

In [ ]:
## join string
result = text.split(" ")
text = " ".join(result)
print(text)

a lion walks into a bar

In [ ]:
## index starts with 0
text = "python"
print(text[1])
print(text[-1])
print(text[-2])
print(text[-3])
print(text[3])

y
n
o
h
h

In [ ]:
## slice text
print(text[0:3])
print(text[3:6])
print(text[3:])
print(text[1:])

pyt
hon
hon
ython

In [ ]:
## text + text
"Python" + " is awesome" + " and I love it."

'Python is awesome and I love it.'

In [ ]:
"hello " * 3

'hello hello hello '

In [ ]:
"Python"

'Python'

In [ ]:
## reverse string
"Python"[::-1]

'nohtyP'

In [ ]:
## can slice with skip
"I am learning Python today"[0:15:2] ## slice index 0 - 15 then skip with 2

'Ia erigP'

In [ ]:
## String is immutable
text = "python"

text[0] = "C"

TypeError: 'str' object does not support item assignment

In [ ]:
text = "python"

print("C" + text[1:])

Cython

## **Data Structures**

1. List
2. Tuple
3. Dict
4. Set

In [ ]:
## list, ordered, mutable object
shopping_list = ["egg", "milk", "vitamilk", "bread"]

In [ ]:
shopping_list[-2]

'vitamilk'

In [ ]:
shopping_list[0] = "egg egg"
shopping_list[2] = "lactasoy"

In [ ]:
shopping_list

['egg egg', 'milk', 'lactasoy', 'bread']

In [ ]:
## list method
shopping_list.append("butter")
shopping_list

['egg egg', 'milk', 'lactasoy', 'bread', 'butter']

In [ ]:
shopping_list.pop()
shopping_list

['egg egg', 'milk', 'lactasoy', 'bread']

In [ ]:
shopping_list.remove("milk")
shopping_list

['egg egg', 'lactasoy', 'bread']

In [ ]:
shopping_list.append("milk")
shopping_list.append("milk")
shopping_list

['egg egg', 'lactasoy', 'bread', 'milk', 'milk']

In [ ]:
shopping_list.count("milk")

2

In [ ]:
# reverse
shopping = ["milk", "bread", "egg", "creamcheese"]

In [ ]:
shopping.sort(reverse=False)
print(shopping)

['bread', 'creamcheese', 'egg', 'milk']

In [ ]:
shopping.append("strawberry")
shopping

['milk', 'bread', 'egg', 'creamcheese', 'strawberry']

In [ ]:
shopping.insert(1, "orange") #inplace
shopping

['milk', 'orange', 'bread', 'egg', 'creamcheese', 'strawberry']

In [ ]:
## list + list
["item1", "item2"] + ["item3", "item4"]

['item1', 'item2', 'item3', 'item4']

In [ ]:
## loop through shopping list
for item in shopping:
    print("I have to but " + item)

milk
orange
bread
egg
creamcheese
strawberry

In [ ]:
for item in shopping:
    print(len(item))

4
6
5
3
11
10

In [ ]:
for item in shopping:
    print(item.upper())

MILK
ORANGE
BREAD
EGG
CREAMCHEESE
STRAWBERRY

In [ ]:
for item in shopping:
    if len(item) <= 4:
        continue
    else:
        print("I need to buy " + item)

I need to buy orange
I need to buy bread
I need to buy creamcheese
I need to buy strawberry

In [ ]:
## average revenue per user (ARPU)
spending = [500, 1200, 800, 300, 900]
for spend in spending:
    if spend >= 900:
        print("high spender")
    else:
        print("low spender")

low spender
high spender
low spender
low spender
high spender

In [ ]:
# example list comprehension
scores = [80, 90, 75, 60, 59, 82]
new_scores = [score+5 for score in scores]
print(new_scores)

[85, 95, 80, 65, 64, 87]

In [ ]:
# list normal
scores = [80, 90, 75, 60, 59, 82]
for score in scores:
    if score >= 80:
        print(score, "passed")
    else:
        print(score, "failed")

80 passed
90 passed
75 failed
60 failed
59 failed
82 passed

In [ ]:
## list comprehension
scores = [80, 90, 75, 60, 59, 82]
new_grades = ["passed" if score >= 80 else "failed"
              for score in scores]
print(new_grades)

['passed', 'passed', 'failed', 'failed', 'failed', 'passed']

In [ ]:
## tuple, ordered, immutable
## tuple unpacking
toy, jane, ann = 36, 29, 32
arm, lis, orn = (34, 32, 15)
print(toy, jane, ann)
print(arm, lis, orn)

36 29 32
34 32 15

In [ ]:
name = ("arm", "joe", "john")
name[2] = "john wick"

TypeError: 'tuple' object does not support item assignment

In [ ]:
name = ("arm", "joe", "john", "arm")
name.count("arm")

2

In [ ]:
name = ("arm", "joe", "john", "arm")
name.index("joe")

1

In [ ]:
names = ("arm", "joe", "john")
for name in names:
    print(f"hello! {name.capitalize()}")

hello! Arm
hello! Joe
hello! John

In [ ]:
## complex list
complex_list = [
    25, "The Dark Knight",
    [1,2,3,4,5],
    ("hello", "ni hao", "sawasdee")
]

complex_list[3][1]

'ni hao'

In [ ]:
complex_tuple = ("arm", 42, 40, 50, 100, ["hello", "nihao"])

In [ ]:
## dictionary
## key-value pair (similar to json)

actor = {
  "name": "John Doe",
  "age": 30,
  "email": "johndoe@example.com",
  "isSubscribed": True,
  "languages": ["English", "Spanish", "French"]
}

actor

{'name': 'John Doe',
 'age': 30,
 'email': 'johndoe@example.com',
 'isSubscribed': True,
 'languages': ['English', 'Spanish', 'French']}

In [64]:
customer_01 = {
    "name": "john wick",
    "age": 50,
    "fav_movies": ["Superman", "Inside Out", "Lion King"],
    "gpa": 3.41
}

customer_01

{'name': 'john wick',
 'age': 50,
 'fav_movies': ['Superman', 'Inside Out', 'Lion King'],
 'gpa': 3.41}

In [ ]:
# dictionary is unordered, mutable
customer_01["name"].upper()

'JOHN WICK'

In [ ]:
customer_01["age"]

50

In [ ]:
customer_01["fav_movies"][0]

'Superman'

In [ ]:
customer_01["fav_movies"][0::2]

['Superman', 'Lion King']

In [ ]:
# dictionary method
customer_01.keys()

dict_keys(['name', 'age', 'fav_movies', 'gpa'])

In [51]:
list(customer_01.keys())

['name', 'age', 'fav_movies', 'gpa']

In [52]:
tuple(customer_01.keys())

('name', 'age', 'fav_movies', 'gpa')

In [53]:
## key is immutable
{0: "arm", "1": "top", 2: "tap"}

{0: 'arm', '1': 'top', 2: 'tap'}

In [54]:
customer_01.values()

dict_values(['john wick', 50, ['Superman', 'Inside Out', 'Lion King'], 3.41])

In [55]:
list(customer_01.values())

['john wick', 50, ['Superman', 'Inside Out', 'Lion King'], 3.41]

In [56]:
customer_01.items()

dict_items([('name', 'john wick'), ('age', 50), ('fav_movies', ['Superman', 'Inside Out', 'Lion King']), ('gpa', 3.41)])

In [57]:
list(customer_01.items())

[('name', 'john wick'),
 ('age', 50),
 ('fav_movies', ['Superman', 'Inside Out', 'Lion King']),
 ('gpa', 3.41)]

In [58]:
for item in list(customer_01.items()):
    print(item)

('name', 'john wick')
('age', 50)
('fav_movies', ['Superman', 'Inside Out', 'Lion King'])
('gpa', 3.41)

In [65]:
## crete new key
customer = customer_01
customer["city"] = "Bangkok"
customer["nationality"] = "American"

customer

{'name': 'john wick',
 'age': 50,
 'fav_movies': ['Superman', 'Inside Out', 'Lion King'],
 'gpa': 3.41,
 'city': 'Bangkok',
 'nationality': 'American'}

In [66]:
## remove gpa key
del customer["gpa"]

## use method
customer.pop("city")

customer

{'name': 'john wick',
 'age': 50,
 'fav_movies': ['Superman', 'Inside Out', 'Lion King'],
 'nationality': 'American'}

In [70]:
## update value
print(customer)
customer["name"] = "David Beckham"
customer

{'name': 'John Wick', 'age': 50, 'fav_movies': ['Superman', 'Inside Out', 'Lion King'], 'nationality': 'American'}

{'name': 'David Beckham',
 'age': 50,
 'fav_movies': ['Superman', 'Inside Out', 'Lion King'],
 'nationality': 'American'}

In [78]:
## the last data structure: set
## set is used to find distinct/ unique values
set([1,1,2,3,4])

{1, 2, 3, 4}

In [79]:
set((1,1,2,3,4))

{1, 2, 3, 4}

In [80]:
set(["orange", "orange", "banana"])

{'banana', 'orange'}

In [82]:
## set operation
## union and intersection
mary = {"orange", "apple"}
toy = {"apple","durian"}

mary & toy

{'apple'}

In [83]:
mary - toy

{'orange'}

## Recap Data Structures

1. list
2. tuple
3. dictionary
4. set

## **Function**

User defined function

In [1]:
## the most important thing why we write functions
## because they are reusable.
def hello():
    print("hello world")

In [2]:
hello()

hello world

In [3]:
def hello2(name):
    print("hello " + name)

hello2("john")

hello john

In [5]:
## default argument
def hello3(name="arm"):
    print("hello " + name)

hello3("john")
hello3()

hello john
hello arm

In [10]:
## can we get input from a user?
def greeting():
    username = input("What's your name: ")
    result = f"Hi {username}!"
    print(result)
    action = input("What are you going to do today? ")
    print(f"You're going to {action}. Great!")

In [11]:
greeting()

What's your name: Arm
Hi Arm!
What are you going to do today? learn Python
You're going to learn Python. Great!

In [12]:
user_age = int(input("How old are you: "))
print(user_age, type(user_age))

How old are you: 25
25 <class 'int'>

In [13]:
## function can have more than one parameters
def my_power(base=2, power=3):
    return base**power

In [14]:
result = my_power(base=9, power=2) ## 9**2
print(result)

81

In [15]:
result = my_power(power=2,base=9) ## 9**2
print(result)

81

In [18]:
## regular function
# def double(num):
#     return num*2

## lambda function
double = lambda num: num*2

double(52)

'hello arm'

In [19]:
hello = lambda name: "hello " + name
hello(name="arm")

'hello arm'

## **Control Flow**

1. if
2. for
3. while

In [21]:
def grading(score):
    """
    input: score is a numeric number
    output: grade passed or failed
    """
    if (score >= 80):
        return "Passed"
    else:
        return "Failed"

print(grading(90))
print(grading(75))

Passed
Failed

In [22]:
## multiple if else
def full_grading(score):
    if score >= 80:
        return "A"
    elif score >= 70:
        return "B"
    elif score >= 60:
        return "C"
    else:
        return "Retry the exam again"

print(full_grading(90))
print(full_grading(75))
print(full_grading(62))
print(full_grading(59))

A
B
C
Retry the exam again

In [23]:
# if multiple conditions
# morning weekday => cereal
# morning weekend => hamburger
# else => fasting
time = "morning"
day = "weekday"

if time == "morning" and day == "weekday":
    print("I'm eating cereal")
elif time == "morning" or day == "weekend":
    print("I'm eating hamburger")
else:
    print("No eating, I'm fasting")

I'm eating cereal

In [26]:
time = "lunch"
day = "weekend"
if time == "morning" and day == "weekday":
    print("I'm eating cereal")
elif time == "morning" or day == "weekend":
    print("I'm eating hamburger")
else:
    print("No eating, I'm fasting")

I'm eating hamburger

In [25]:
time = "lunch"
day = "weekday"
if time == "morning" and day == "weekday":
    print("I'm eating cereal")
elif time == "morning" and day == "weekend":
    print("I'm eating hamburger")
else:
    print("No eating, I'm fasting")

No eating, I'm fasting

In [29]:
## recap for
for item in ["orange", "apple", "banana"]:
    print(item.upper())

ORANGE
APPLE
BANANA

In [31]:
for item in ["orange", "apple", "grape", "banana"]:
    if len(item) > 5:
        print(item)

orange
banana

In [32]:
## while loop
count = 0 # use for track is it out loop or not
while count < 5:
    print("hello world")
    count += 1

hello world
hello world
hello world
hello world
hello world

In [33]:
## homework
## 1. review methods (list, string)  5 
## 2. create this functionL pao ying chub

In [69]:
# 1. review methods (list, string)  5 
# list method
number1 = [2,33,3,2,1,56,44,8,101,55,3,0]
number2 = [99,56,88,22,1,44,66,88,99]

# .append use for append element in end of list
number1.append(99)
print(number1)

# .extend use for extend list with another list in the end
number1.extend(number2)
print(number1)

#.sort use for sort data --> reverse=True is desc
number1.sort(reverse=True)
print(number1)

# .count use for count how many specific element in list
count = number1.count(99)
print(count)

# .clear use for clear all data in list
number1.clear()
print(number1)

[2, 33, 3, 2, 1, 56, 44, 8, 101, 55, 3, 0, 99]
[2, 33, 3, 2, 1, 56, 44, 8, 101, 55, 3, 0, 99, 99, 56, 88, 22, 1, 44, 66, 88, 99]
[101, 99, 99, 99, 88, 88, 66, 56, 56, 55, 44, 44, 33, 22, 8, 3, 3, 2, 2, 1, 1, 0]
3
[]
0000000033

In [4]:
# string method
# .zfill add number of 0 in front off string
txt = "33"
new_txt = txt.zfill(10)
print(new_txt)

# .strip() use for trim all space in the left and right side out
text = "     oho     "
new_text = text.strip()
print(new_text)

# .rjust can specific length of string and can set the value of the rest of the length rjust is text inm the right side
text = "hen"
new_text = text.rjust(10,"0")
print(new_text)

# .find use for find what's index of the string in the main string
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

# .encode use for encode string default is utf-8
txt = "My name is Arm"
x = txt.encode()
print(x)

0000000033
oho
0000000hen
7
b'My name is Arm'

In [56]:
# 2. create this functionL pao ying chub

from random import choice

def pao_ying_chub():
    print("Let's play game!")
    print("Win at least 6 form 10 rounds!")

    hands = ["hammer", "scissor", "paper"]
    user_point = 0
    comp_point= 0
    totals_round = 10
    round = 1
    while round <= 10:
        print(f"Start round {round}")
        computer_hand = choice(hands)

        user_hand = input("Please choose your hand: [hammer, scissor, paper]\nYour hand: ").lower()
        while user_hand not in hands:
            user_hand = input("Invalid hand! Please choose again: [hammer, scissor, paper]\nYour hand: ").lower()

        print(f"Comp hand: {computer_hand}")
        round += 1

        if ((user_hand == "hammer" and computer_hand == "scissor") or (user_hand == "scissor" and computer_hand == "paper") or (user_hand == "paper" and computer_hand == "hammer")):
            user_point += 1
            comp_point == 0
            print(f"You win: your point is {user_point}")
        elif ((user_hand == "scissor" and computer_hand == "hammer") or (user_hand == "paper" and computer_hand == "scissor") or (user_hand == "hammer" and computer_hand == "paper")):
            user_point += 0
            comp_point += 1
            print(f"You lose: your point is {user_point}")
        else:
            user_point += 0
            comp_point += 0
            print(f"You draw: your point is {user_point}")

    print("End game")
    if (user_point > comp_point):
        print("You win this game")
    elif(user_point < comp_point):
        print("You lose this game")
    else:
        print("You tie this game")

pao_ying_chub()

Let's play game!
Win at least 6 form 10 rounds!
Start round 1
Please choose your hand: [hammer, scissor, paper]
Your hand: hammer
Comp hand: scissor
You win: your point is 1
End game
You win this game